h2{
    text-shadow:3px 3px 5px #e0b1bf;
    font-style: italic;
    
}
.image{
    border:2px solid black;
    width:38%;
}
body{
    background-color:rgb(234, 236, 239);
}

ol,ul{
    font-family:helvetica;
    font-size:large;
}
#icons{
    float:right;
    padding:15px;
    background-color:#f2efef;
}
.fa{
    margin:30px;
    padding:20px;
}


.fa:hover{
    color:blueviolet;
}
.fa-facebook {
    background-color: #3B5998;
    color: white;
  }
  .fa-instagram{
      background-color: #e52760;
      color:white;
  }
  .fa-github{
      background-color: aquamarine;
      color:white;
  }
  
  